<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
    <button ion-button full (click)="openCamera()">openCamera</button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let article of data">
    <img [src]="article.urlToImage" alt="" srcset="">
    <ion-card-header>
      <ion-card-title>{{article.title}}</ion-card-title>
      <ion-card-subtitle>{{article.author}} - {{article.publishedAt}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{article.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
